<!-- search.component.html -->
<div class="flex items-center border-b  border-teal-500 py-1 my-3">
  <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-2 leading-tight focus:outline-none" type="text" [(ngModel)]="username" placeholder="Enter GitHub Username" aria-label="Full name">
  <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button" (click)="onSearch()">
    Search
  </button>
</div>
